{% extends 'base.html' %}

{% block content %}
<div class="u-1">
    <div class="l-box">
        <h2>Create your personal timeline!</h2>

        <p>
            We've just released our new product! It mights look like a basic <a href="https://twitter.com/GrehackConf">Twitter</a>
            right now, but we've planned a lot of new features using the Blockchain technology (ICO coming soon).
        </p>

        <p>
            Starting now, you can register and enjoy collecting your thoughts on you personal timeline. You can even
            share it with your friends!
        </p>
    </div>
</div>
{% endblock %}

